txt,textviewer,1
md,textviewer,1
nfo,textviewer,1
html,textviewer,1
htm,textviewer,1
rtf,textviewer,1
fb2,textviewer,1
epub,textviewer,1
docx,textviewer,1
pdf,textviewer,1

bmp,imageviewer,2
jpg,imageviewer,2
jpe,imageviewer,2
jpeg,imageviewer,2
png,imageviewer,2
#ifdef HAVE_LCD_COLOR
ppm,imageviewer,2
#endif
gif,imageviewer,2

mpg,mpegplayer,3
mpeg,mpegplayer,3
mpv,mpegplayer,3
m2v,mpegplayer,3

*,properties,-
