txt,viewers/view_text,1
md,viewers/view_text,1
nfo,viewers/view_text,1

bmp,viewers/imageviewer,2
jpg,viewers/imageviewer,2
jpe,viewers/imageviewer,2
jpeg,viewers/imageviewer,2
png,viewers/imageviewer,2
#ifdef HAVE_LCD_COLOR
ppm,viewers/imageviewer,2
#endif
gif,viewers/imageviewer,2

mp3,viewers/vbrfix,5
m3u,viewers/search,-

opx,viewers/open_plugins,-
rock,viewers/open_plugins,-

*,viewers/properties,-
*,viewers/shortcuts_append,-

link,viewers/shortcuts_view,-

#ifdef HAVE_TAGCACHE
*,demos/pictureflow,-
log,viewers/lastfm_scrobbler_viewer,4
#endif
